<section>
  <ul>
    <li>
      <img alt="Foto do perfil" src="../../../assets/perfil.jpeg" />
      <span>icaro_cesar07</span>
    </li>
    <li>
      <img alt="Foto do perfil" src="../../../assets/perfil.jpeg" />
      <span>icaro_cesar07</span>
    </li>
    <li>
      <img alt="Foto do perfil" src="../../../assets/perfil.jpeg" />
      <span>icaro_cesar07</span>
    </li>
    <li>
      <img alt="Foto do perfil" src="../../../assets/perfil.jpeg" />
      <span>icaro_cesar07</span>
    </li>
    <li>
      <img alt="Foto do perfil" src="../../../assets/perfil.jpeg" />
      <span>icaro_cesar07</span>
    </li>
    <li>
      <img alt="Foto do perfil" src="../../../assets/perfil.jpeg" />
      <span>icaro_cesar07</span>
    </li>
  </ul>
</section>
