@media (min-width: 2560px) {
  section {
    width: 30% !important;
  }
}
section {
  right: 0;
  top: 13%;
  width: 25%;
  margin-right: 10%;
  position: fixed;
  display: flex;
  height: 80%;
  margin-top: 50px;
}
@media (max-width: 1023px) {
  section {
    display: none;
  }
}
img {
  width: 56px;
  height: 56px;
  border-radius: 36px;
}
span {
  font-size: 14px;
  display: block;
  padding-bottom: 2px;
}
.bold {
  font-weight: bold;
}
.grey {
  color: #8e8e8e;
}
.link {
  cursor: pointer;
  color: #0095f6;
  display: flex;
  justify-content: flex-end;
  width: 235px;
  font-size: 12px;
  position: relative;
  bottom: 25px;
  font-weight: bold;
}

.user {
  display: block;
  text-align: justify;
  position: absolute;
  width: 100px;
  left: 75px;
  margin-top: 12px;
}
.view-all {
  cursor: pointer;
  font-size: 12px;
}

.sugestions {
  position: absolute;
  height: 100px;
  font-size: 16px;
  padding: 0;
  display: flex;
  gap: 130px;
  width: 120%;
  align-items: flex-end;
}

ul {
  width: 100%;
  position: absolute;
  height: 250px;
  top: 20%;
}

.profile {
  width: 30px;
  height: 30px;
}
li {
  margin-bottom: -50px;
  width: 110%;
  margin-top: 10px;
}
li:first-child {
  margin-top: 24px;
}

.user-small {
  position: relative;
  bottom: 38px;
  margin-left: 75px;
  margin-top: 4px;
}
.small {
  margin-left: -36px;
  font-size: 12px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 21%;
}
.footer-span {
  cursor: pointer;
  font-size: 12px;
  line-height: 1.5;
  color: #8e8e8e;
}
