section {
  margin-left: 130px;
  margin-right: 130px;
  margin-top: 30px;
  width: 50%;
  height: 700px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #dbdbdb;
}
header {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
}
img {
  width: 100%;
  height: 100%;
}

.storie-div {
  width: 40px;
  height: 40px;
  border-radius: 36px;
  border: 2px solid transparent;
  background: linear-gradient(220deg, #833ab4, #e1306c, #f77737, #ffdc80)
    border-box;
  margin-left: 15px;
}
.profile {
  border-radius: 36px;
  border: 2px solid #fff;
}
span {
  margin-left: 12px;
  font-size: 14px;
  font-weight: bold;
}
.ellipsis {
  position: relative;
  left: 65%;
}
