<section>
  <header>
    <div class="storie-div">
      <img src="../../../assets/perfil.jpeg" class="profile" />
    </div>
    <span>icaro_cesar07</span>
    <svg
      aria-label="Mais opções"
      class="ellipsis"
      color="#262626"
      fill="#262626"
      height="24"
      viewBox="0 0 24 24"
      width="24"
    >
      <circle cx="12" cy="12" r="1.5"></circle>
      <circle cx="6" cy="12" r="1.5"></circle>
      <circle cx="18" cy="12" r="1.5"></circle>
    </svg>
  </header>
  <div>
    <img src="../../../assets/perfil.jpeg" />
  </div>
</section>
