* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  box-sizing: border-box;
  vertical-align: baseline;
}
button {
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background: #fafafa;
}

body .slick-prev,
body .slick-next {
  height: 30px;
  width: 30px;
  z-index: 2;
  position: absolute;
}
body .slick-next {
  margin-right: 24px;
}
body .slick-prev {
  margin-left: 24px;
}
body .slick-next:before,
body .slick-prev:before {
  color: #8e8e8e;
}

@media (max-width: 768px) {
  body .slick-prev,
  body .slick-next {
    display: none !important;
  }
}
